
{{!-- header section --}}

{{>default/header}}

{{!-- body section --}}
<body>
   {{!-- navigation section --}}

{{>default/top-navigation}}

    <!-- Page Content -->
    {{!-- container section --}}

		<div class="container">



        {{{body}}}

    </div>
				

    <!-- /.container -->
    {{!-- /body section --}}

    {{!-- footer section --}}
{{> default/footer }}
